.performance-card-wrapper {
  .overview-storage-card-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .cds--label {
      padding-right: var(--cds-spacing-03);
    }

    .cds--dropdown {
      flex: 0 0 40%;
      min-width: 130px;
    }
  }

  .cds--dropdown__wrapper .cds--label {
    white-space: nowrap;
  }

  .cds--dropdown-text {
    white-space: nowrap;
  }

  .performance-card-empty-msg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--cds-spacing-05);
    height: 350px;

    p {
      font-size: 12px !important;
    }

    img {
      width: 100px !important;
      height: 100px !important;
    }
  }

  .performance-card-latency-chart {
    margin-right: 10px;
    margin-left: 10px;
  }
}
